# Port number
APPLICATION_NAME=hisabnikash

# Port Port
APP_PORT=8080

# Port Enviroment
APP_ENV=dev

# Prefix app path
APP_PREFIX_PATH=/api/v1

# JWT
# JWT Secret
JWT_SECRET=somerandomkeyherena
# JWT Expire
JWT_EXPIRE=1y
JWT_RESET_PASSWORD_EXPIRE_MINUTUS=15

# Database config

# If you want to use database URI with DB_URI
DB_URI=mongodb://127.0.0.1:27017/node-boilerplate

# If you want to use seperate database URI
DB_USER=test1234
DB_USER_PWD=test1234
DB_HOST=localhost
DB_NAME=hisabnikash-single
DB_PORT=27017

# If you want Smtp
SMTP_HOST=
SMTP_AUTH_USERNAME=
SMTP_AUTH_PASSWORD=
EMAIL_FROM=